body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #FF5733, #FFC300, #DAF7A6);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #555;
}

section {
  padding: 80px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #navbar ul li a {
    padding: 10px;
  }
  
}
